{{!-- <div class="container" style="padding-top:60px"> --}}
  <div class="row">
    <section class="main col-md-9">
      <article>
        <h2 class="bold">About</h2>
        <p>I am Fevin Patel, currently enrolled in full-time course of Computer programming and Analysis at Seneca
          College(ON, Canada).</p>
        <p>As a student I am always keen to learn new things as a part of studies and even out of it. My current
          interest is Web-Programming and Software Development with using Agile Methodology.</p>
        <p>My current goals as an international student are managing studies with other things. And as a future plan I
          am interested in doing(making) something innovative with my development knowledge in IT field.</p>
        <p>I am enthusiast to help others whenever possible because thats what makes us a good human bieng. Other than
          that I love watching movies and doing sports in my spare time.</p>
      </article>
    </section>
    <aside class="col-md-3">
      <h2 class="bold">Coming Soon</h2>
      <p>Stay tuned for further updates on the blog.</p>
    </aside>
  </div>
